################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Udemy - Design Patterns in C# and .NET(Tutorial)
